<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Greetings</title>
  </head>
  <body>
    <% if (name === undefined) { %>
    <h1>Welcome back, <%= guest %>! </h1>
    <% } else { %>
      <h1>Welcome back, <%= name %>!</h1>
    <% } %>
  </body>
</html>