body {
  padding: 0;
  margin: auto;
  width: 1000px;
}

header {
  width: inherit;
  height: 100px;
  background-color: lightblue;
  margin-bottom: 20px;
}

.main {
  width: inherit;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  width: 220px;
  height: inherit;
  background-color: lightsalmon;
}

.main-content {
  display: flex;
  width: 500px;
  height: inherit;
  background-color: lightpink;
  justify-content: flex-end;
  align-items: flex-end;
}

.right-sidebar {
  width: 220px;
  height: inherit;
  background-color: lightgreen;
}

.item-black {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: midnightblue;
}

footer {
  margin-top: 20px;
  width: inherit;
  height: 100px;
  background-color: slategray;
}